<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Games</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <style>
      #app{
        background-color: #E3F2FD;
      }
      html{
        background-color: #E3F2FD;
      }
    </style>
  </head>
  <body>
    <section id="content">
      <div id="app">
        <v-app>
          <v-content>
            <p class="text-center display-1 my-12 deep-purple--text accent-4" >Choose Your Game</p>
            <v-container>
              <v-row>
                <v-col cols="6" md="6">
                  <v-card class="mx-auto" max-width="344">
                    <v-card-text>
                      <div>Game</div>
                      <p class="display-1 text--primary">
                        Sviper
                      </p>
                      <p>PIXI.js</p>
                      <div class="text--primary">
                        Control the SVIPER jet, defeat enemies, collect power
                        ups and rack up a high score.
                      </div>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn
                        text
                        color="deep-purple accent-4"
                        href="/getSviper"
                      >
                        Play
                        <v-icon right dark>mdi-gamepad-variant </v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
                <v-col cols="6" md="6">
                  <v-card class="mx-auto" max-width="344">
                    <v-card-text>
                      <div>Game</div>
                      <p class="display-1 text--primary">
                        Flappy Box
                      </p>
                      <p>Phaser.js</p>
                      <div class="text--primary">
                        Flappy bird clone: Flappy Box.
                      </div>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn
                        text
                        color="deep-purple accent-4"
                        href="/getFlappy"
                      >
                        Play
                        <v-icon right dark>mdi-gamepad-variant </v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>

            <p class="text-center headline my-12">Leader Boards</p>

            <v-row>
              <v-col cols="6" md="6" sm="12" xm="12" >
                <v-card class="ml-12">
                  <v-card-title>
                    Sviper
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="sviperSearch"
                      append-icon="mdi-magnify"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-card-title>
                  <v-data-table
                    :headers="headers"
                    :items="sviperUsers"
                    :search="sviperSearch"
                  ></v-data-table>
                </v-card>
              </v-col>

              <v-col cols="6" md="6" sm="12" xm="12" >
                <v-card class="mr-12">
                  <v-card-title>
                    Flappy Box
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="flappySearch"
                      append-icon="mdi-magnify"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-card-title>
                  <v-data-table
                    :headers="headers"
                    :items="flappyUsers"
                    :search="flappySearch"
                  ></v-data-table>
                </v-card>
              </v-col>
            </v-row>
          </v-content>
        </v-app>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: () => ({
          sviperSearch: "",
          flappySearch: "",
          username: "",
          age: "",
          sviperUsers: [],
          flappyUsers: [],
          headers: [
            {
              text: "User Name",
              align: "start",
              sortable: false,
              value: "name"
            },
            { text: "Score", value: "score" },
            { text: "Age", value: "age" }
          ]
        }),
        created() {
          //get high scores from server on load

          this.getHighScores(this.flappyUsers, "flappybox");
          this.getHighScores(this.sviperUsers, "sviper");
        },
        mounted() {
          if (localStorage.getItem("reloaded")) {
            //reload once on page load code from: https://stackoverflow.com/a/50214060
            // The page was just reloaded. Clear the value from local storage
            // so that it will reload the next time this page is visited.
            localStorage.removeItem("reloaded");
          } else {
            // Set a flag so that we know not to reload the page twice.
            localStorage.setItem("reloaded", "1");
            location.reload();
          }
        },
        methods: {
          getHighScores(array, game) {
            //get the high scores for games
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/getUsers");
            xhr.setRequestHeader(
              "Content-Type",
              "application/x-www-form-urlencoded"
            );
            xhr.setRequestHeader("Accept", `application/json,${game}`);

            xhr.onload = () => {
              let message = xhr.response
                ? JSON.parse(xhr.response) || xhr.response
                : "";

              if (game == "sviper") {
                this.sviperUsers = Object.values(message);
              } else if (game == "flappybox") {
                this.flappyUsers = Object.values(message);
              }
            };

            xhr.send();

            //e.preventDefault();
            return false;
          }
        }
      });
    </script>
  </body>
</html>
